@import "var";

/*
  base elements
*/

body {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  background-color: $light-color;
  color: $dark-color;
  transition: background-color ease-in-out .3s;

  *::-webkit-scrollbar-track, &::-webkit-scrollbar-track {
    background-color: $light-color;
  }

  *::-webkit-scrollbar, &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: $light-color;
  }

  *::-webkit-scrollbar-thumb, &::-webkit-scrollbar-thumb {
    background-color: mix($dark-color, $light-color, 80%);
  }
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::selection {
  background-color: $dark-color;
  color: $light-color;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.view {
  max-width: $view-max-width;
  margin: 80px auto 40px;

  @media screen and (max-width: 600px){
    margin-top: 40px;
  }
}

.view-no-flex {
  max-width: $view-max-width;
  margin: 80px auto 40px;
}
