/*
  variables used across application
  and functions related to theming
*/

// app layout
$header-height: 60px;
$view-max-width: 1000px;
$aside-width: 240px;

// colors
$dark-color: #24292e;
$light-color: #f7f7ff;
$white-color: #ffffff;
$error-color: #EF3e36;
$success-color: #058c42;

$card-height: 304px;
